<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
</head>
<body>


    <h1>NEW PAGE</h1>
    <form action="/movies" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="movie[title]" id="title" placeholder="Title">
        </div>
        <div>
            <label for="genre">Genre</label>
            <input type="text" name="movie[genre]" id="genre" placeholder="Genre">
        </div>
        <div>
            <label for="year">Year</label>
            <input type="number" name="movie[year]" id="year" placeholder="Year">
        </div>
        <button type="submit">Submit</button>
        <a href="/">All movies</a>
    </form>
    


</body>
</html>